<ng-container>
	<div class="container-fixed flex justify-between items-stretch lg:gap-4" id="header_container">
		<div class="flex gap-1 lg:hidden items-center -ml-1">
			<a class="dark:hidden">
				<img class="max-h-[23px] pl-1 max-w-[41px]" src="assets/media/logos/avt_logo_claro.png"
					routerLink="comercial/mapa-do-negocio" />
			</a>
			<a class="hidden dark:block">
				<img class="max-h-[23px] pl-1 max-w-[41px]" src="assets/media/logos/avt_logo_escuro.png"
					routerLink="comercial/mapa-do-negocio" />
			</a>
			<div class="flex items-center">
				<button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#sidebar">
					<i class="ki-filled ki-menu">
					</i>
				</button>
			</div>
		</div>

		<ng-container *ngIf="title$ | async as title">
			<h1 class="flex items-center">
				<div class="hidden lg:block">
					<span [innerHTML]="breadcrumbPath"></span>
				</div>
			</h1>
		</ng-container>

		<div class="flex items-center lg:gap-3.5">
			<div class="menu" data-menu="true">
				<div class="menu-item" data-menu-item-offset="20px, 10px" data-menu-item-placement="bottom-end"
					data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
					<div class="menu-toggle btn btn-icon rounded-full">
						<span
							class="relative inline-flex items-center justify-center shrink-0 rounded-full ring-1 font-semibold leading-none text-md size-9 text-danger ring-danger bg-red-600/30">
							P
						</span>
					</div>
					<div class="menu-dropdown menu-default light:border-gray-300 w-full max-w-[300px]">
						<div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
							<div class="flex items-center gap-5">
								<span
									class="relative inline-flex items-center justify-center shrink-0 rounded-full ring-1 font-semibold leading-none text-xlg size-9 text-danger ring-danger bg-red-600/30">
									P
								</span>
								<div class="flex flex-col gap-1.5">
									<span class="text-sm text-gray-900 font-semibold leading-none">
										Pizzalizya
									</span>
									<a class="text-xs text-gray-900 font-semibold leading-none">
										pizzalizya&#64;gmail.com
									</a>
								</div>
							</div>
						</div>
						<div class="text-center">
							<span class="text-xs text-gray-900 font-semibold leading-none">
								{{ dataHoraAtual | date: 'dd \'de\' MMMM \'de\' YYYY':'':'pt-BR' }}
							</span>
						</div>
						<div class="menu-separator">
						</div>
						<div class="mb-0.5">
							<div class="menu-link">
								<span class="menu-icon">
									<i class="ki-filled ki-moon text-gray-500">
									</i>
								</span>
								<span class="menu-title !text-gray-900">
									Modo Escuro
								</span>
								<label class="switch switch-sm">
									<input data-theme-state="dark" data-theme-toggle="true" name="check" type="checkbox"
										value="1" [checked]="modoEscuroAtivo"/>
								</label>
							</div>
						</div>
						<div class="flex flex-col">
							<div class="menu-item px-4 py-1.5">
								<a class="btn btn-sm btn-light justify-center" (click)="logout()">
									Sair
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>