.card-dark {
    border-radius: .75rem;
    border: var(--tw-card-border);
}

.card-body-dark {
    flex-grow: 1;
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
    border-color: var(--tw-gray-200);
}

.card-escuro {
    background-color: #111217;
    border-color: #1B1C22;
}

.input-escuro {
    background-color: #1f212a; 
    color: #9a9cae; 
    border-color: #464852;
}

.btn-escuro {
    color: #808B9B;
    border-color: #464852;
    background-color: #1E212A;
}