.menu-item.active>.menu-link .menu-item-active\:before\:bg-primary:before {
    content: var(--tw-content);
    background-color: var(--tw-primary)
}

.menu-item:hover>.menu-link .menu-item-hover\:before\:bg-primary:before {
    content: var(--tw-content);
    background-color: var(--tw-primary)
}

.default-logo {
    padding-top: 30px;
    height: 200px;
    padding-left: 20px;
}

.small-logo {
    height: 25px;
}

.bg-color{
    background-color: #0d0e12;
}

.color-icone{
    color: #fff;
}

.color-text-fixo{
    color: #fff; 
}

.border-botao-fixo {
    border: #4b5563 1px solid;
}
