<ng-container>
  <div class="bg-[#09090B]">
    <div
      class="sidebar-header hidden lg:flex items-center relative justify-between px-3 lg:px-6 shrink-0"
      id="sidebar_header"
    >
      <a class="pt-6">
        <img
          class="default-logo min-h-[180px] max-w-none"
          src="assets/media/logos/lizy_novo.png"
        />
        <img
          class="small-logo min-h-[50px] max-w-none"
          src="assets/media/logos/lizy_pequeno_novo.png"
        />
      </a>
      <button
        class="btn btn-icon btn-icon-md size-[30px] rounded-lg border border-botao-fixo bg-coal-600 text-gray-500 hover:color-text-fixo toggle absolute left-full top-2/4 -translate-x-2/4 -translate-y-2/4"
        data-toggle="body"
        data-toggle-class="sidebar-collapse"
        id="sidebar_toggle"
      >
        <i
          class="ki-filled ki-black-left-line toggle-active:rotate-180 transition-all duration-300"
        >
        </i>
      </button>
    </div>
    <div
      class="sidebar-content flex grow shrink-0 py-5 pt-7 pr-2"
      id="sidebar_content"
    >
      <div
        class="scrollable-y-hover grow shrink-0 flex pl-2 lg:pl-5 pr-1 lg:pr-3"
        data-scrollable="true"
        data-scrollable-dependencies="#sidebar_header"
        data-scrollable-height="auto"
        data-scrollable-offset="0px"
        data-scrollable-wrappers="#sidebar_content"
        id="sidebar_scrollable"
      >
        <div
          class="menu flex flex-col grow gap-0.5"
          data-menu="true"
          data-menu-accordion-expand-all="false"
          id="sidebar_menu"
        >
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
          >
            <div
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              [routerLink]="['/agenda']"
              tabindex="0"
            >
              <span class="menu-icon items-start color-icone-fixo w-[20px]">
                <i class="ki-filled ki-calendar text-lg"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Agenda
              </span>
            </div>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
            [ngClass]="{ 'cursor-not-allowed': abasDesativadas }"
          >
            <div
              class="flex items-center grow border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start color-icone-fixo w-[20px]">
                <i class="ki-filled ki-artificial-intelligence"></i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-icone-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Lizy AI
              </span>
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-lock text-lg color-icone-fixo"></i>
              </span>
            </div>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
            [ngClass]="{ 'cursor-not-allowed': abasDesativadas }"
          >
            <div
              class="flex items-center grow border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start color-icone-fixo w-[20px]">
                <i class="ki-filled ki-note-2 text-lg"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-icone-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Social
              </span>
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-lock text-lg color-icone-fixo"></i>
              </span>
              <span
                class="menu-arrow color-icone-fixo w-[20px] shrink-0 justify-end ml-1 mr-[-10px]"
                [ngClass]="{ hidden: abasDesativadas }"
              >
                <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                </i>
                <i
                  class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"
                >
                </i>
              </span>
            </div>
            <div
              class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-800 dark:before:border-gray-200"
              [ngClass]="{ hidden: abasDesativadas }"
            >
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    tabindex="0"
                  >
                    <span
                      class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"
                    >
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    >
                      Vagas
                    </span>
                  </a>
                </div>
              </div>
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    href="html/demo1.html"
                    tabindex="0"
                  >
                    <span
                      class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"
                    >
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    >
                      Notícias
                    </span>
                  </a>
                </div>
              </div>
              <div class="menu-item pb-2">
                <a
                  class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                  tabindex="0"
                >
                  <span
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"
                  >
                  </span>
                  <span
                    class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                  >
                    Meu Perfil
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="menu-item pt-2 pb-2">
            <span
              class="menu-heading uppercase text-2sm font-semibold color-icone-fixo pl-[10px] pr-[10px]"
            >
              DEPARTAMENTOS
            </span>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
          >
            <div
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start color-icone-fixo w-[20px]">
                <i class="ki-filled ki-bank text-lg"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Financeiro
              </span>
              <span
                class="menu-arrow color-icone-fixo w-[20px] shrink-0 justify-end ml-1 mr-[-10px]"
              >
                <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                </i>
                <i
                  class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"
                >
                </i>
              </span>
            </div>
            <div
              class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-800 dark:before:border-gray-200"
            >
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    tabindex="0"
                    [routerLink]="['/financeiro/visao-geral']"
                    routerLinkActive="active"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/financeiro/visao-geral'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/financeiro/visao-geral'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/financeiro/visao-geral'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/financeiro/visao-geral']),
                        'hover:!text-primary': true
                      }"
                    >
                      Visão Geral
                    </span>
                  </a>
                </div>
              </div>
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/financeiro/lancamentos']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/financeiro/lancamentos'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/financeiro/lancamentos'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/financeiro/lancamentos'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/financeiro/lancamentos']),
                        'hover:!text-primary': true
                      }"
                    >
                      Lançamentos
                    </span>
                  </a>
                </div>
              </div>
              <div class="menu-item pb-2">
                <a
                  class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                  [routerLink]="['/financeiro/cobranca']"
                  tabindex="0"
                  [ngClass]="{
                    'bg-coal-100 text-primary rounded-lg': estaAtiva([
                      '/financeiro/cobranca'
                    ]),
                    'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                      '/financeiro/cobranca'
                    ])
                  }"
                >
                  <span class="menu-bullet flex w-[6px] relative">
                    <span
                      class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                      [ngClass]="{
                        'before:bg-primary': estaAtiva([
                          '/financeiro/cobranca'
                        ]),
                        'hover:!before:bg-primary': true
                      }"
                    >
                    </span>
                  </span>
                  <span
                    class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    [ngClass]="{
                      '!text-primary': estaAtiva(['/financeiro/cobranca']),
                      'hover:!text-primary': true
                    }"
                  >
                    Cobrança
                  </span>
                </a>
              </div>
              <div class="menu-item pb-2">
                <a
                  class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                  [routerLink]="['/financeiro/faturamento']"
                  tabindex="0"
                  [ngClass]="{
                    'bg-coal-100 text-primary rounded-lg':
                      estaAtiva(['/financeiro/faturamento']) ||
                      estaAtiva(['/financeiro/notas-fiscais']),
                    'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                      '/financeiro/faturamento'
                    ])
                  }"
                >
                  <span class="menu-bullet flex w-[6px] relative">
                    <span
                      class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                      [ngClass]="{
                        'before:bg-primary':
                          estaAtiva(['/financeiro/faturamento']) ||
                          estaAtiva(['/financeiro/notas-fiscais']),
                        'hover:!before:bg-primary': true
                      }"
                    >
                    </span>
                  </span>
                  <span
                    class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    [ngClass]="{
                      '!text-primary':
                        estaAtiva(['/financeiro/faturamento']) ||
                        estaAtiva(['/financeiro/notas-fiscais']),
                      'hover:!text-primary': true
                    }"
                  >
                    Faturamento
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
          >
            <div
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-wallet text-lg color-icone-fixo"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Comercial
              </span>
              <span
                class="menu-arrow color-icone-fixo w-[20px] shrink-0 justify-end ml-1 mr-[-10px]"
              >
                <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                </i>
                <i
                  class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"
                >
                </i>
              </span>
            </div>
            <div
              class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-800 dark:before:border-gray-200"
            >
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/comercial/dashboard']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/comercial/dashboard'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/comercial/dashboard'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/comercial/dashboard'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/comercial/dashboard']),
                        'hover:!text-primary': true
                      }"
                    >
                      Dashboard
                    </span>
                  </a>
                </div>
              </div>
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/comercial/crm']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/comercial/crm'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/comercial/crm'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva(['/comercial/crm']),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/comercial/crm']),
                        'hover:!text-primary': true
                      }"
                    >
                      CRM
                    </span>
                  </a>
                </div>
              </div>
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/comercial/orcamentos']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/comercial/orcamentos'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/comercial/orcamentos'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/comercial/orcamentos'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/comercial/orcamentos']),
                        'hover:!text-primary': true
                      }"
                    >
                      Orçamentos
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
          >
            <div
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-handcart text-lg color-icone-fixo"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Suprimentos
              </span>
              <span
                class="menu-arrow color-icone-fixo w-[20px] shrink-0 justify-end ml-1 mr-[-10px]"
              >
                <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                </i>
                <i
                  class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"
                >
                </i>
              </span>
            </div>
            <div
              class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-800 dark:before:border-gray-200"
            >
              <div class="menu-item pb-2">
                <a
                  class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                  [routerLink]="['/suprimentos/compras']"
                  tabindex="0"
                  [ngClass]="{
                    'bg-coal-100 text-primary rounded-lg': estaAtiva([
                      '/suprimentos/compras'
                    ]),
                    'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                      '/suprimentos/compras'
                    ])
                  }"
                >
                  <span class="menu-bullet flex w-[6px] relative">
                    <span
                      class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                      [ngClass]="{
                        'before:bg-primary': estaAtiva([
                          '/suprimentos/compras'
                        ]),
                        'hover:!before:bg-primary': true
                      }"
                    >
                    </span>
                  </span>
                  <span
                    class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    [ngClass]="{
                      '!text-primary': estaAtiva(['/suprimentos/compras']),
                      'hover:!text-primary': true
                    }"
                  >
                    Compras
                  </span>
                </a>
              </div>
              <div
                class="menu-item pb-2"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/suprimentos/estoque']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/suprimentos/estoque'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/suprimentos/estoque'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/suprimentos/estoque'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/suprimentos/estoque']),
                        'hover:!text-primary': true
                      }"
                    >
                      Estoques
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="menu-item pb-2"
            data-menu-item-toggle="accordion"
            data-menu-item-trigger="click"
          >
            <div
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              tabindex="0"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-delivery text-lg color-icone-fixo"> </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Logística
              </span>
              <span
                class="menu-arrow color-icone-fixo w-[20px] shrink-0 justify-end ml-1 mr-[-10px]"
              >
                <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                </i>
                <i
                  class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"
                >
                </i>
              </span>
            </div>
            <div
              class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-800 dark:before:border-gray-200"
            >
              <div
                class="menu-item pb-2"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/logistica/recebimento']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/logistica/recebimento'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/logistica/recebimento'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/logistica/recebimento'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/logistica/recebimento']),
                        'hover:!text-primary': true
                      }"
                    >
                      Recebimento
                    </span>
                  </a>
                </div>
              </div>
              <div
                class="menu-item"
                data-menu-item-toggle="accordion"
                data-menu-item-trigger="click"
              >
                <div class="menu-item pb-2">
                  <a
                    class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                    [routerLink]="['/logistica/expedicao']"
                    tabindex="0"
                    [ngClass]="{
                      'bg-coal-100 text-primary rounded-lg': estaAtiva([
                        '/logistica/expedicao'
                      ]),
                      'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                        '/logistica/expedicao'
                      ])
                    }"
                  >
                    <span class="menu-bullet flex w-[6px] relative">
                      <span
                        class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                        [ngClass]="{
                          'before:bg-primary': estaAtiva([
                            '/logistica/expedicao'
                          ]),
                          'hover:!before:bg-primary': true
                        }"
                      >
                      </span>
                    </span>
                    <span
                      class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                      [ngClass]="{
                        '!text-primary': estaAtiva(['/logistica/expedicao']),
                        'hover:!text-primary': true
                      }"
                    >
                      Expedição
                    </span>
                  </a>
                </div>
              </div>
              <div class="menu-item pb-2">
                <a
                  class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-coal-100 hover:rounded-lg"
                  [routerLink]="['/logistica/estoque-terceiro']"
                  tabindex="0"
                  [ngClass]="{
                    'bg-coal-100 text-primary rounded-lg': estaAtiva([
                      '/logistica/estoque-terceiro'
                    ]),
                    'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                      '/logistica/estoque-terceiro'
                    ])
                  }"
                >
                  <span class="menu-bullet flex w-[6px] relative">
                    <span
                      class="before:absolute before:top-1/2 before:left-0 before:w-[6px] before:h-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2"
                      [ngClass]="{
                        'before:bg-primary': estaAtiva([
                          '/logistica/estoque-terceiro'
                        ]),
                        'hover:!before:bg-primary': true
                      }"
                    >
                    </span>
                  </span>
                  <span
                    class="menu-title text-2sm font-semibold color-text-fixo menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary"
                    [ngClass]="{
                      '!text-primary': estaAtiva([
                        '/logistica/estoque-terceiro'
                      ]),
                      'hover:!text-primary': true
                    }"
                  >
                    Estoque Terceiro
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="menu-item pt-2 pb-2">
            <span
              class="menu-heading uppercase text-2sm font-semibold color-icone-fixo pl-[10px] pr-[10px]"
            >
              DOCUMENTOS
            </span>
          </div>
          <div class="menu-item">
            <a
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              [routerLink]="['/cadastros']"
              routerLinkActive="active"
              [ngClass]="{
                'bg-coal-100 text-primary rounded-lg': estaAtiva([
                  '/cadastros',
                  '/cadastros/prospeccao',
                  '/cadastros/clientes',
                  '/cadastros/fornecedores',
                  '/cadastros/transportadoras',
                  '/cadastros/produtos',
                  '/cadastros/servicos',
                  '/cadastros/usuarios',
                  '/cadastros/estoques',
                  '/cadastros/contas-bancarias',
                  '/cadastros/categorias-financeiras',
                  '/cadastros/centro-de-custo'
                ]),
                'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                  '/cadastros',
                  '/cadastros/prospeccao',
                  '/cadastros/clientes',
                  '/cadastros/fornecedores',
                  '/cadastros/transportadoras',
                  '/cadastros/produtos',
                  '/cadastros/servicos',
                  '/cadastros/usuarios',
                  '/cadastros/estoques',
                  '/cadastros/contas-bancarias',
                  '/cadastros/categorias-financeiras',
                  '/cadastros/centro-de-custo'
                ])
              }"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-address-book text-lg color-icone-fixo">
                </i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo"
                [ngClass]="{
                  '!text-primary': estaAtiva([
                    '/cadastros',
                    '/cadastros/prospeccao',
                    '/cadastros/clientes',
                    '/cadastros/fornecedores',
                    '/cadastros/transportadoras',
                    '/cadastros/produtos',
                    '/cadastros/servicos',
                    '/cadastros/usuarios',
                    '/cadastros/estoques',
                    '/cadastros/contas-bancarias',
                    '/cadastros/categorias-financeiras',
                    '/cadastros/centro-de-custo'
                  ]),
                  'hover:!text-primary': true
                }"
              >
                Cadastros
              </span>
            </a>
          </div>
          <div
            class="menu-item"
            [ngClass]="{ 'cursor-not-allowed': abasDesativadas }"
          >
            <a
              class="flex items-center grow border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              aria-disabled="true"
              tabindex="-1"
              [ngClass]="{
                'bg-coal-100 text-primary rounded-lg': estaAtiva(['/acervo']),
                'hover:bg-coal-100 hover:rounded-lg': !estaAtiva(['/acervo'])
              }"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-some-files text-lg color-icone-fixo"></i>
              </span>
              <span class="menu-title text-sm font-semibold color-icone-fixo">
                Acervos
              </span>
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-lock text-lg color-icone-fixo"></i>
              </span>
            </a>
          </div>
          <div class="menu-item pt-2 pb-2">
            <span
              class="menu-heading uppercase text-2sm font-semibold color-icone-fixo pl-[10px] pr-[10px]"
            >
              ANALÍTICO
            </span>
          </div>
          <div class="menu-item">
            <a
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-data text-lg color-icone-fixo"></i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Análise de Dados
              </span>
            </a>
          </div>
          <div
            class="menu-item"
            [ngClass]="{ 'cursor-not-allowed': abasDesativadas }"
          >
            <a
              class="flex items-center grow border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              aria-disabled="true"
              tabindex="-1"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-document text-lg color-icone-fixo"></i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-icone-fixo menu-item-active:text-primary menu-link-hover:!text-primary gap-0.5"
              >
                Relatórios
              </span>
              <span class="menu-icon items-start w-[20px]">
                <i class="ki-filled ki-lock text-lg color-icone-fixo"></i>
              </span>
            </a>
          </div>
          <div class="menu-item pt-2 pb-2">
            <span
              class="menu-heading uppercase text-2sm font-semibold color-icone-fixo pl-[10px] pr-[10px]"
            >
              Lizy Builder
            </span>
          </div>
          <div class="menu-item">
            <a
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              [routerLink]="['/lizy-builder/fichas']"
              routerLinkActive="active"
              [ngClass]="{
                'bg-coal-100 text-primary rounded-lg': estaAtiva([
                  '/lizy-builder/fichas'
                ]),
                'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                  '/lizy-builder/fichas'
                ])
              }"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ti ti-file text-lg color-icone-fixo"></i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Fichas
              </span>
            </a>
          </div>
          <div class="menu-item">
            <a
              class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]"
              [routerLink]="['/lizy-builder/workflows']"
              routerLinkActive="active"
              [ngClass]="{
                'bg-coal-100 text-primary rounded-lg': estaAtiva([
                  '/lizy-builder/workflows'
                ]),
                'hover:bg-coal-100 hover:rounded-lg': !estaAtiva([
                  '/lizy-builder/workflows'
                ])
              }"
            >
              <span class="menu-icon items-start w-[20px]">
                <i class="ti ti-chart-dots-3 text-lg color-icone-fixo"></i>
              </span>
              <span
                class="menu-title text-sm font-semibold color-text-fixo menu-item-active:text-primary menu-link-hover:!text-primary"
              >
                Workflows
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
